<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <div>
          <p>With my full-stack web development education from Le Wagon, I'm currently seeking a job where I can utilize what I've learned, my international background, and my passion for learning and growing.
          </p>
          <p>
            Having been raised in seven different countries with a bachelor's degree in hospitality management and work experience in customer service and translation has helped me develop strong soft skills. These skills include but are not limited to communicating with others verbally and nonverbally, solving problems in novel ways, and adapting to change quickly.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
