<div class="row container-row">
  <div class="col-12">
    <div class="container">
      <div id="about" class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="title-heading">About Me</h2>
        <div class="d-flex flex-wrap justify-content-center align-items-center">
          <%= image_tag 'profile.JPG', alt: "profile photo", class: 'avatar' %>
          <div class="about-information px-4 d-flex flex-column">
            <p>Raised in
              <span id="about-detail">six</span>
              different countries.</p>
            <p>Hospitality management background.</p>
            <p>Strong soft skills.</p>
            <p>Learn, grow, and solve problems.</p>
            <p>Three fur babies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
