<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <h1 class="title-main">Yoana Chang</h1>
    <h2 class="title-job">Full-stack Web Developer</h2>
    <p>Ruby on Rails · React · JavaScript · HTML · CSS ·
      PostgreSQL</p>
    <div class="d-flex flex-wrap">
      <div class="button-social">
        <i class="fa-solid fa-envelope"></i>
        <%= mail_to "yewonyoana@gmail.com", "", class: 'button-social-link' %>
      </div>
      <div class="button-social">
        <i class="fa-brands fa-github"></i>
        <%= link_to "", "https://github.com/yewonyoana", target: '_blank', class: 'button-social-link' %>
      </div>
      <div class="button-social">
        <i class="fa-brands fa-linkedin"></i>
        <%= link_to "", "https://www.linkedin.com/in/yewonyoana", target: '_blank', class: 'button-social-link' %>
      </div>
    </div>
  </div>
</div>
