<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <h1 class="title-main">Yoana Chang</h1>
    <h2 class="title-job">Full-stack Web Developer</h2>
    <div class="d-flex align-items-center">
      <p class="nav-item active">
        <a class="nav-link" href="#about">About</a>
      </p>
      <p class="nav-space"> · </p>
      <p class="nav-item">
        <a class="nav-link" href="#techstacks">Tech Stacks</a>
      </p>
      <p class="nav-space"> · </p>
      <p class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </p>
      <p class="nav-space"> · </p>
      <p class="nav-item">
        <a class="nav-link" href="#socials">Socials</a>
      </p>
    </div>
  </div>
</div>
