<div class="row container-row">
  <div class="col-12">
    <div class="container">
      <div id="techstacks" class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="title-heading">Tech Stacks</h2>
        <p>Ruby on Rails · React · JavaScript · HTML · CSS ·
          PostgreSQL</p>
      </div>
    </div>
  </div>
</div>
