<div class="row container-row">
  <div class="col-12">
    <div class="container">
      <div id="techstacks" class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="title-heading">Tech Stacks</h2>
        <div class="techstack d-flex flex-wrap flex-column">
          <p class="title-subheading">Back-end</p>
          <div class="techstack-imgs d-flex flex-wrap justify-content-center">
            <img class="techstack-img" src="../images/techstacks/blackruby.svg" alt="Ruby">
            <img class="techstack-img" src="../images/techstacks/blackrails.svg" alt="Rails">
            <img class="techstack-img" src="../images/techstacks/blacknodejs.svg" alt="NodeJS">
            <img class="techstack-img" src="../images/techstacks/blackexpress.svg" alt="Express">
          </div>
        </div>
        <div class="techstack d-flex flex-wrap flex-column">
          <p class="title-subheading">Front-end</p>
          <div class="techstack-imgs d-flex flex-wrap justify-content-center">
            <img class="techstack-img" src="../images/techstacks/blackhtml.svg" alt="HTML">
            <img class="techstack-img" src="../images/techstacks/blackcss.svg" alt="CSS">
            <img class="techstack-img" src="../images/techstacks/blackscss.svg" alt="SCSS">
            <img class="techstack-img" src="../images/techstacks/blacktailwind.svg" alt="TailwindCSS">
            <img class="techstack-img" src="../images/techstacks/blackbootstrap.svg" alt="Bootstrap">
            <img class="techstack-img" src="../images/techstacks/blackjs.svg" alt="JavaScript">
            <img class="techstack-img" src="../images/techstacks/blacktypescript.svg" alt="TypeScript">
            <img class="techstack-img" src="../images/techstacks/blackreact.svg" alt="React">
            <img class="techstack-img" src="../images/techstacks/blacknextjs.svg" alt="NextJS">
          </div>
        </div>
        <div class="techstack d-flex flex-wrap flex-column">
          <p class="title-subheading">Others</p>
          <div class="techstack-imgs d-flex flex-wrap justify-content-center">
            <img class="techstack-img" src="../images/techstacks/blackpostgresql.svg" alt="PostgreSQL">
            <img class="techstack-img" src="../images/techstacks/blackmongodb.svg" alt="MongoDB">
            <img class="techstack-img" src="../images/techstacks/blackgit.svg" alt="Git">
            <img class="techstack-img" src="../images/techstacks/github.svg" alt="GitHub">
            <img class="techstack-img" src="../images/techstacks/blackheroku.svg" alt="Heroku">
            <img class="techstack-img" src="../images/techstacks/blackfigma.svg" alt="Figma">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
