.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner-name,
.banner-job {
  text-transform: uppercase;
  text-align: center;
}

.banner-name {
  font-size: 4rem;
}

.banner-job {
  font-weight: 600;
}
