.button-social {
  position: relative;
  font-size: 1.8rem;
  color: $gray;
  &:nth-child(2) {
    padding: 0 3rem;
  }
  &:hover {
    color: $black;
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#button-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid $white;
  background-color: $black;
  color: $white;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;
  &:hover {
    border: 1px solid $white;
    background-color: $white;
    color: $black;
  }
}
