.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12rem;
  width: 65rem;
}

.card-product {
  height: 20rem;
  display: flex;
  align-items: center;
}

.card-img {
  width: 35rem;
  object-fit: cover;
  border: 1px solid black;
}

.card-product-infos {
  margin-left: 1.2rem;
  width: 100%;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
