.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65rem;
}

.card-product {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-product-img {
  width: 30rem;
  object-fit: cover;
}

.card-product-infos {
  margin-left: 1.2rem;
  width: 30rem;
  p {
    margin-bottom: 0;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    width: 20rem;
  }
  .card-product {
    height: max-content;
    padding: 1.5rem 0rem;
    .card-product-img {
      width: 20rem;
    }
    .card-product-infos {
      width: 20rem;
      padding-top: 0.8rem;
      margin-left: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  .cards {
    width: 20rem;
  }
  .card-product {
    height: max-content;
    padding: 1.5rem 0rem;
    .card-product-img {
      width: 20rem;
    }
    .card-product-infos {
      width: 20rem;
      padding-top: 0.8rem;
      margin-left: 0;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 992px) {
  cards {
    width: 20rem;
  }
  .card-product {
    height: max-content;
    padding: 1.5rem 0rem;
    .card-product-img {
      width: 20rem;
    }
    .card-product-infos {
      width: 20rem;
      padding-top: 0.8rem;
      margin-left: 0.8rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1200px) {
  .card-product-img {
    width: 25rem;
  }
  .card-product-infos {
    width: 25rem;
    padding-top: 0.8rem;
    margin-left: 0.8rem;
  }
}

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .card-product-img {
//     width: 30rem;
//   }
//   .card-product-infos {
//     width: 30rem;
//     padding-top: 0.8rem;
//     margin-left: 0.8rem;
//   }
// }
