.nav-links {
  margin-top: 1rem;
}

.nav-link {
  font-size: 1rem;
  border: 1px solid $gray;
  border-radius: 50px;
  padding: 0.2rem 1.2rem;
  &:hover {
    background-color: $black;
    color: $white;
  }
}

.nav-space {
  padding: 0px 1rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .nav-links {
    width: 20rem;
  }
}
