.title-main,
.title-job {
  text-transform: uppercase;
}

.title-main {
  font-size: 4rem;
}

.title-job {
  font-weight: 600;
}

.title-heading {
  margin: 0px;
  margin-bottom: 1rem;
  font-weight: 600;
}
