// Specific CSS for your about-page
.about-information {
  width: 23rem;
}

#about-detail {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .about-information {
    margin-top: 1rem;
    align-items: center;
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
