.project-img {
  width: 100%;
}

.project-headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project-heading {
  display: flex;
  align-items: end;
}

.project-title {
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  border: 1px solid $black;
  border-radius: 50px;
  padding: 0.2rem 1.2rem;
  margin-bottom: 0;
  background-color: $black;
  color: $white;
  width: fit-content;
}

.project-detail {
  margin: 0.5rem 0 0 0.5rem;
}

.project-position {
  font-size: 0.8rem;
  font-style: italic;
  color: $gray;
}

.project-description {
  font-size: 0.9rem;
}

.project-stacks {
  color: $gray;
  font-size: 1.4rem;
}

.project-link {
  color: $gray;
  transition: color 0.12s ease-in-out;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
  &:last-child {
    margin-left: 0.7rem;
  }
  &:hover {
    color: $black;
  }
}
