.techstack {
  &:nth-child(3) {
    margin: 5rem 0;
  }
}

.techstack-imgs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.techstack-img {
  height: 80px;
  margin: 0 1rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .techstack-img {
    width: 30px;
  }
}
