// Define variables for your color scheme
$black: black;
$white: white;
$dark-gray: #131313;
$gray: #565656;

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$light-gray: #f4f4f4;
